/************************TAG SELECTORS***************************/
body {
  color: #40514E;
  text-align: center;
  font-family: 'Fira Sans', sans-serif;
}

h1 {
  color: #283c63;
  font-size: 5.625rem;
  font-family: 'Sacramento', cursive;
  margin: 50px auto 0 auto;
  line-height: 2;
}

h2 {
  color: #283c63;
  font-family: 'Fira Sans', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  padding-bottom: 10px;
}

h3 {
  color: #163172;
  font-family: 'Josefin Sans', sans-serif;
}

p {
  font-family: 'Roboto', sans-serif;
  line-height: 2;
}

a {
  color: #163172;
  font-weight: bold;
}

hr {
  border: dotted #928a97 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
  }

/************************CLASS SELECTORS***************************/
.top {
  background-color: #8ef6e4;
  position: relative;
  padding-top: 100px;
}

.middle{
  margin: 100px 0;
}

.bottom {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.Web {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.skillz1 {
  height: 200px;
  width: 350px;
  float: left;
  margin-right: 30px;
  padding-left: 50px;
}

.skillz2 {
  height: 200px;
  width: 350px;
  float: right;
  margin-left: 30px;
}

.skill-row {
  width: 50%;
  margin: 75px auto 75px auto;
  text-align: left;
}

.footer-link {
  margin: 20px 10px;
  text-decoration: none;
}

.footer-link:hover{
  color:white;
}

.intro{
  width:30%;
  margin: auto;
}

.contact-message{
  width:40%;
  margin: 40px auto 60px;
}

.forp {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding:25px 0;
}

.BUTTON_CTS {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #FFFFFF;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  padding: 20px;
  background-color: #66BFBF;
  box-shadow: 1px 1px 20px 0 #66BFBF;
  -box-shadow-webkit: 1px 1px 20px 0 #66BFBF;
  -box-shadow-moz: 1px 1px 20px 0 #66BFBF;
  text-shadow: 1px 1px 20px #66BFBF;
  border: solid #66BFBF 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 35px;
}

.BUTTON_CTS:hover {
  border: solid #e3fdfd 1px;
  background: #e3fdfd;
  background-image: -webkit-linear-gradient(top, #e3fdfd, #e3fdfd);
  background-image: -moz-linear-gradient(top, #e3fdfd, #e3fdfd);
  background-image: -ms-linear-gradient(top, #e3fdfd, #e3fdfd);
  background-image: -o-linear-gradient(top, #e3fdfd, #e3fdfd);
  background-image: linear-gradient(to bottom, #e3fdfd, #e3fdfd);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}
